<% @baskets.each do |basket, quantity| %>
<%= link_to "#{basket.id}", basket_path(basket) %>
<%= quantity %>
<ul>
  <% basket.items.each do |item| %>
    <li><%= item.name  %></li>
    <li><%= item.price %></li>
  <% end %>
</ul>
<% end %>



<div class="checkout">
  <% if current_user %>
    Checkout
  <% else %>
    <%= link_to "Login", login_path %> <br />
    <%= link_to "Create New Account", new_user_path %>
  <% end %>
</div>
