<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p><%= @item.price %></p>
<p><%= @item.unit_measurement %></p>

<%= link_to "Add to Basket", basket_carts_path(item_id: @item.id), method: :post %>
