<h1><%= @category.title %></h1>
<h2>Nutrition Info</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nutrition Fact</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Serving Quantity</td>
      <td><%= @nutrition.serving_quantity %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Serving Weight</td>
      <td><%= @nutrition.serving_weight %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Total Fat</td>
      <td><%= @nutrition.total_fat %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Saturated Fat</td>
      <td><%= @nutrition.sat_fat %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cholesterol</td>
      <td><%= @nutrition.cholesterol %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sodium</td>
      <td><%= @nutrition.sodium %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Carbohydrates</td>
      <td><%= @nutrition.carbohydrates %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fiber</td>
      <td><%= @nutrition.fiber %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sugar</td>
      <td><%= @nutrition.sugar %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Protein</td>
      <td><%= @nutrition.protein %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Potassium</td>
      <td><%= @nutrition.potassium %></td>
    </tr>

  </tbody>
</table>



<div class="container">
  <div class="row">
    <% @items.each do |item| %>
    <div class="center-block">
      <div class="card border-white" style="width: 15rem;">
        <%= image_tag "/images#{item.image_path}", size: "250" %>
        <div class="card-body">
          <center><p><strong><%= link_to item.name, item_path(item) %></strong></p>
            <!-- <p>Description: <%= item.description %></p> -->
            <p>Price: $<%= item.price %></p>
            <p>Per: <%= item.unit_measurement %></p>
            <p><%= item.description %></p>
            <%= link_to "Add to Basket", basket_carts_path(item_id: item.id), method: :post, class: "badge badge-primary" %>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
