<!DOCTYPE html>
<html>
  <head>
    <title>FarmersMarket</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Farmer's Market</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <% if current_user %>
            <li class="nav-item active">
              <a class="nav-link" href="/baskets">Saved Baskets</a>
            </li>
          <% end %>
          <% if @basket_cart.contents.count > 0  %>
              <li class="nav-item active">
                <a class="nav-link" href="/basket_carts">Current Basket<span class="sr-only">(current)</span></a>
              </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="/items">View Items</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
          </li>


        </ul>
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/carts">Cart</a>
          </li>

          <% if current_user %>
              <li class="navbar-text">Signed in as <strong><%= current_user.first_name %></strong>!</li>

              <a class="nav-link" href="/signout">Sign out</a>
          <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login or Create Account</a>
              </li>
          <% end %>






        </ul>
      </div>
    </nav>


    <%= link_to "Cart", carts_path %>





      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>


      <div class="container">
        <div class="card card-inverse">
          <%= image_tag("https://www.cropking.com/sites/default/files/ht1_0.jpg", class: "card-img") %>
          <div class="card-img-overlay">
            <h1 class="card-title text-center text-white"><%= link_to "Farmer's Market", root_path %></h1>
          </div>
        </div>
      </div>


      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <%= yield %>
  </body>
</html>
